---
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Notion from "./icons/Notion.astro"
import Android from "./icons/Android.astro"
import Swift from "./icons/Swift.astro"
import Firebase from "./icons/Firebase.astro"
import Laravel from "./icons/Laravel.astro"
import MySQL from "./icons/Mysql.astro"
import Vue from "./icons/Vue.astro"
import React from "./icons/React.astro"
import Stripe from "./icons/Stripe.astro"
import Express from "./icons/Express.astro"
import NodeJS from "./icons/Node.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-[#003159] text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  Notion: {
    name: "Notion",
    class: "bg-[#000000] text-white",
    icon: Notion,
  },
  Android: {
    name: "Android",
    class: "bg-[#000] text-white",
    icon: Android,
  },
  Swift: {
    name: "Swift",
    class: "bg-[#000] text-white",
    icon: Swift,
  },
  Firebase: {
    name: "Firebase",
    class: "bg-[#000] text-white",
    icon: Firebase,
  },
  Laravel: {
    name: "Laravel",
    class: "bg-[#000] text-white",
    icon: Laravel,
  },
  MySQL: {
    name: "MySQL",
    class: "bg-[#000] text-white",
    icon: MySQL,
  },
  Vue: {
    name: "Vue",
    class: "bg-[#000] text-white",
    icon: Vue,
  },
  React: {
    name: "React",
    class: "bg-[#000] text-white",
    icon: React,
  },
  Stripe: {
    name: "Stripe",
    class: "bg-[#000] text-white",
    icon: Stripe,
  },
  Express: {
    name: "Express",
    class: "bg-[#fff] text-black",
    icon: Express,
  },
  NodeJS: {
    name: "NodeJS",
    class: "bg-[#fff] text-black",
    icon: NodeJS,
  },
  
}
const PROJECTS = [
  {
    title: "Cuidados - Android/iOS",
    description:
      "Cuidados es una aplicacion que le permite al usuario agendar una cita con el medico que sea mas adecuado para sus necesidades.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/1.webp",
    tags: [TAGS.Swift, TAGS.Android, TAGS.Firebase],
  },
  {
    title: "Cenyca Universidad - Laravel/Vue/Tailwind/MySQL",
    description:
    "Cenyca universidad cuenta con su propia plataforma dividida en tres partes, una para los alumnos, otra para los profesores y otra para el personal administrativo.",
    // link: "https://svgl.vercel.app/",
    // github: "https://github.com/pheralb/svgl",
    image: "/laravel.png",
    tags: [TAGS.MySQL, TAGS.TAILWIND, TAGS.Laravel, TAGS.Vue],
  },
  {
    title: "Reforma Dental - React/Tailwind",
    description:
    "Reforma dental es una landing page donde se puede encontrar informacion sobre los servicios que ofrece la clinica dental. Y asi mismo poder agendar tu cita con nuestro metodo de calendario y pasarela de pagos con stripe.",
    // link: "https://svgl.vercel.app/",
    // github: "https://github.com/pheralb/svgl",
    image: "/reforma.png",
    tags: [TAGS.React, TAGS.TAILWIND, TAGS.Stripe],
  },
  {
    title: "Dr Arturo Lopez - React/Tailwind",
    description:
    "Dr Arturo Lopez es una landing page donde se puede encontrar toda informacion que realiza el Dr y poder realizar una cita con el.",
    // link: "https://svgl.vercel.app/",
    // github: "https://github.com/pheralb/svgl",
    image: "/al.png",
    tags: [TAGS.React, TAGS.TAILWIND],
  },
  {
    title: "Ecommetrica - NextJS/Tailwind/Express/NodeJS/MySQL",
    description:
    "Consultoría de comercio electrónico con un equipo de expertos digitales en marketing y desarrollo técnico, especialmente ensamblado para B2B y B2C.",
    link: "https://svgl.vercel.app/",
    github: "",
    image: "/ecommetrica.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.Express, TAGS.NodeJS, TAGS.MySQL],
  },
  
]
---
<div class="flex flex-col gap-y-16">
{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-xs md:text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2 overflow-wrap">
          {title}
        </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-col gap-2 md:flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
</div>